/* Default CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #f6d9cc, #d1c2b2);
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    background-color: #9a8c7d;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

th {
    background: #f69d6b;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td {
    text-align: center;
    background: #f6f6f6;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
}

button {
    background: linear-gradient(to right, #f68d2e, #ff6f00);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: linear-gradient(to right, #e76f00, #ff8500);
}



/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  

.modal-content {
    background-color: #c4c6b4;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 800px;
    font-family: 'Nunito', sans-serif;
    color: #222;
    position: relative;
}
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }

  #modalBody h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2e2e2e;
}

#modalBody img {
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
}

#modalBody ul {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
}

#modalBody ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}

#modalBody h3 {
    font-weight: bold;
    background: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}


